{% extends 'base.html'%} {% block title %} Home Page {% endblock %} {%block
content%}
<div>
  <div class="">
    <!-- <h1>Lorem ipsum</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
      porta dictum turpis, eu mollis justo gravida ac. Proin non eros
      blandit, rutrum est a, cursus quam.
    </p> -->
  </div>
  <div>
    <!-- <video class="h-64" autoplay muted loop>
      <source src="img/hello.mp4" type="video/mp4" />
    </video> -->
    <img src={{url_for('static', filename='img/land.png')}} alt="image" />
  </div>
</div>
<div class="m-auto bg-blue-50 py-10 pb-28">
  <h1
    class="text-center rounded-md mt-3 mb-3 text-3xl font-medium text-cyan-700 font-bold"
  >
    Get Vaccinated In 3 Easy Steps
  </h1>
  <div class="d-flex justify-content-around m-auto mt-5">
    <div
      class="card shadow-lg transform transition duration-500 hover:scale-110"
      style="width: 18rem"
    >
      <img src={{url_for('static', filename='img/Step_1.svg')}} class="px-5 py-1
      mt-3" alt="..." />
      <div class="text-center">
        <h1 class="text-black font-medium text-xl py-2">Card title</h1>
        <p class="px-4">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div
      class="card shadow-lg transform transition duration-500 hover:scale-110"
      style="width: 18rem"
    >
      <img src={{url_for('static', filename='img/Step_2.svg')}} class="px-5 py-1
      mt-3" alt="..." />
      <div class="text-center">
        <h1 class="text-black font-medium text-xl py-2">Card title</h1>
        <p class="px-4">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div
      class="card shadow-lg transform transition duration-500 hover:scale-110"
      style="width: 18rem"
    >
      <img src={{url_for('static', filename='img/Step_3.svg')}} class="px-5"
      alt="..." />
      <div class="text-center">
        <h1 class="text-black font-medium text-xl p-1">Card title</h1>
        <p class="px-4">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- number count -->
<div>
  <h1
    class="text-center rounded-md text-3xl font-medium text-cyan-700 font-bold mt-16"
  >
    India Is Running The World’s Largest Vaccination Drive
  </h1>
  <div class="flex align-items-center justify-center mt-10">
    <div class="space-y-10">
      <div>
        <h1 class="text-2xl">Vaccines Delivered</h1>
        <p class="text-xl bg-cyan-700 text-white p-2 rounded-md text-center">
          12112222121
        </p>
      </div>
      <div>
        <h1 class="text-2xl">Citizens Vaccinated</h1>
        <p class="text-xl bg-cyan-700 text-white p-2 rounded-md text-center">
          56545454
        </p>
      </div>
    </div>
    <img src={{url_for('static', filename='img/india.png')}} alt="image" />
  </div>
</div>

<!-- Information -->
<div>
  <div class="pt-24 pb-10 bg-blue-50">
    <div class="flex flex-wrap items-center justify-evenly bg-blue-50">
      <div class="text-left md:basis-[40%] py-5">
        <div>
          <h1 class="pb-6 text-lg font-bold text-gray-800 md:text-2xl">
            Heading goes here explaining about a feature of our website
          </h1>
          <p class="pb-10 text-gray-800">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            nobis non aliquam illo maxime, sequi nisi, dolores facilis aliquid
            eum nulla laudantium ex expedita dolorem culpa dolore, ducimus neque
            velit.
          </p>
        </div>
      </div>
      <div>
        <div>
          <img src={{url_for('static', filename='img/vac1.svg')}} alt="ajdjsdjn"
          class="h-full w-[60%]" />
        </div>
      </div>
    </div>
    <div
      class="flex flex-row-reverse flex-wrap items-center justify-evenly bg-blue-50"
    >
      <div class="text-left md:basis-[40%] py-5">
        <div>
          <h1 class="pb-6 text-lg font-bold text-gray-800 md:text-2xl">
            Heading goes here explaining about a feature of our website
          </h1>
          <p class="pb-10 text-gray-800">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            nobis non aliquam illo maxime, sequi nisi, dolores facilis aliquid
            eum nulla laudantium ex expedita dolorem culpa dolore, ducimus neque
            velit.
          </p>
        </div>
      </div>
      <div>
        <div>
          <img src={{url_for('static', filename='img/vac2.svg')}} alt="ajdjsdjn"
          class="h-full w-[70%]" />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
