{% extends 'base.html' %}
{%block title%}
Profile
{% endblock %}

{%block content%}
<div
      class="mt-5 flex flex-row max-w-[80%] bg-white rounded-md m-auto p-4 shadow-lg"
    >
      <div class="basis-[10%]">
        <img src={{url_for('static', filename='img/profile.png')}} alt="PIC" />
      </div>
      <div class="basis-[90%] pr-3">
        <h1 class="text-[20px] font-semibold mb-4">Kashyap Dilip Rathod</h1>
        <div
          class="flex flex-row pb-4 border-b-2 border-[#ccc] justify-content-between"
        >
          <div>
            <p class="text-[#7c8391] text-[13px]">REF ID</p>
            <p class="text-[#0d2631] text-[14px]">31916904002780</p>
          </div>
          <div>
            <p class="text-[#7c8391] text-[13px]">Phone Number</p>
            <p class="text-[#0d2631] text-[14px]">7303169490</p>
          </div>
          <div>
            <p class="text-[#7c8391] text-[13px]">Email ID</p>
            <p class="text-[#0d2631] text-[14px]">kashyap@gmail.com</p>
          </div>
          <div>
            <p class="text-[#7c8391] text-[13px]">YEAR OF BIRTH</p>
            <p class="text-[#0d2631] text-[14px]">2002</p>
          </div>
        </div>
        <div class="flex flex-row justify-content-between mt-3 space-x-3">
          <div class="basis-1/2 p-2 border-2 border-[#999] rounded-md">
            <div class="flex flex-row items-center mb-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="green"
                class="bi bi-check-circle-fill mr-2"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                />
              </svg>
              <span
                class="text-[13px] text-[#588021] pr-2 border-r-[1px] border-[#555] mr-2"
                >DOSE 1</span
              >
              <span class="text-[13px]">COVISHIELD</span>
            </div>
            <div>
              <p class="text-[#588021]">
                SwamiNarayanMandirHall Malad E , 28 Sep 2021
              </p>
            </div>
          </div>
          <div class="basis-1/2 p-2 border-2 border-[#999] rounded-md">
            <div class="flex flex-row items-center mb-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="green"
                class="bi bi-check-circle-fill mr-2"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                />
              </svg>
              <span
                class="text-[13px] text-[#588021] pr-2 border-r-[1px] border-[#555] mr-2"
                >DOSE 2</span
              >
              <span class="text-[13px]">COVISHIELD</span>
            </div>
            <div>
              <p class="text-[#588021]">M W DESAI HOSPITAL 1 , 23 Dec 2021</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}